/* General */

:root {
  --color-white: #F7F7F7;
  --color-black: #383838;
  --color-dark-gray: #8F8F8F;
  --color-light-gray: #E2E0E0;
  --color-electric-blue: #0169FE;
  --color-mid-blue: #0395FF;
  --color-light-blue: #69B9FC;
  --gradient-blue: linear-gradient(90deg, var(--color-light-blue), var(--color-mid-blue), var(--color-electric-blue));
  --color-red: #DE5E5E;
  --color-yellow: #FBBC05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Figtree", serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header,
main section {
  max-width: 1440px;
}

/* Flex */

.center {
  display: flex;
  justify-content: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.rowSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Iconic */

section {
  width: 100%;
  gap: 1.5rem;
  padding: 2rem 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 0.875rem;
}

.primaryButton,
.secondaryButton {
  border: none;
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.primaryButton {
  background-color: var(--color-mid-blue);
  border-radius: 999px;
  font-weight: 700;
  color: var(--color-white);
  padding: 1rem 1.5rem;
}

.primaryButton:hover {
  background-color: var(--color-electric-blue);
  box-shadow: 0px 0px 10px 0px #00000080;
}

.secondaryButton {
  background: var(--gradient-blue);
  padding-bottom: 4px;
}

.secondaryButton div {
  background-color: var(--color-white);
  padding-bottom: 2px;
}

.secondaryButton div p {
  font-weight: 500;
  color: var(--color-black);
  transition: all 0.3s;
}

.secondaryButton:hover div p {
  color: var(--color-electric-blue);
}

/* Typography & Backgrounds */

.bg-gradient {
  background-image: var(--gradient-blue);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-electric-blue {
  background-color: var(--color-electric-blue);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.text-electric-blue {
  color: var(--color-electric-blue);
}

.text-mid-blue {
  color: var(--color-mid-blue);
}

.text-light-blue {
  color: var(--color-light-blue);
}

@media (width >=660px) {
  section {
    padding: 3rem 2.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  .primaryButton,
  .secondaryButton {
    font-size: 1rem;
  }

  .secondaryButton div {
    padding-bottom: 6px;
  }
}

@media (width >=1080px) {
  section {
    padding: 4rem 4.375rem;
  }

  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.25rem;
  }

  .primaryButton,
  .secondaryButton {
    font-size: 1.375rem;
  }

  .primaryButton {
    padding: 1.25rem 2rem;
  }

  .secondaryButton div p {
    font-weight: 700;
  }
}

@media (width >=1440px) {
  section {
    gap: 2rem;
    padding: 5rem 5.625rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .primaryButton,
  .secondaryButton {
    font-size: 1.5rem;
  }
}