/* General */

:root {
  --color-white: #F7F7F7;
  --color-black: #383838;
  --color-dark-gray: #8F8F8F;
  --color-light-gray: #E2E0E0;
  --color-electric-blue: #0169FE;
  --color-mid-blue: #0395FF;
  --color-light-blue: #69B9FC;
  --gradient-blue: linear-gradient(90deg, var(--color-light-blue), var(--color-mid-blue), var(--color-electric-blue));
  --color-red: #DE5E5E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Figtree", serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header,
main,
footer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Flex */

.center {
  display: flex;
  justify-content: center;
}

.rowCenter {
  display: flex;
  align-items: center;
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.rowSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Iconic */

section {
  width: 100%;
  gap: 1.5rem;
  padding: 2rem 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 0.875rem;
}

.primaryButton,
.secondaryButton {
  border: none;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
}

.primaryButton {
  background-color: var(--color-mid-blue);
  border-radius: 999px;
  font-weight: 700;
  color: var(--color-white);
  padding: 1rem 1.5rem;
}

.secondaryButton {
  background: var(--gradient-blue);
  padding-bottom: 4px;
}

.secondaryButton div {
  background-color: var(--color-white);
  padding-bottom: 2px;
}

.secondaryButton div p {
  font-weight: 500;
  color: var(--color-black);
}

/* Typography & Backgrounds */

.bg-gradient {
  background-image: var(--gradient-blue);
}

.bg-white {
  background-color: var(--color-white);
}

.text-white {
  color: var(--color-white);
}

.text-dark-gray {
  color: var(--color-dark-gray);
}

.text-electric-blue {
  color: var(--color-electric-blue);
}

.text-mid-blue {
  color: var(--color-mid-blue);
}

.text-light-blue {
  color: var(--color-light-blue);
}